<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270850969891-ul6fmq15l4ejftf5gc7sqtamgp7mkgqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270850969891-ul6fmq15l4ejftf5gc7sqtamgp7mkgqg</string>
	<key>API_KEY</key>
	<string>AIzaSyCoM6OZvYnkXtaENY_5Fc3EVrl7oYA52c4</string>
	<key>GCM_SENDER_ID</key>
	<string>270850969891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christianmcmullin.journal</string>
	<key>PROJECT_ID</key>
	<string>jour-9124b</string>
	<key>STORAGE_BUCKET</key>
	<string>jour-9124b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270850969891:ios:46469f9660ebd48a7e3c96</string>
</dict>
</plist>